<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="NodeUrl" value="https://sdktest.sending.me/" />
        <add key="WalletAddress" value="0x12Ab829d2407a6CC122B7f31476aa2E1D9F36994" />
        <add key="PrivateKey" value="99d958d34a8c465c264e3d14d3f3f54740ce01ee7a8d006e38108e192794d8b1" />
        <add key="UserId" value="@sdn_12ab829d2407a6cc122b7f31476aa2e1d9f36994:12ab829d2407a6cc122b7f31476aa2e1d9f36994" />
        <add key="AccessToken" value="m2O1Va5c7bmoFXrEKm4CIUzeCIg_G_x1IiYpww4aj-o" />
    </appSettings>
</configuration>